body{
    background-color: black;
}
h1{
    color: rgb(161, 64, 199);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
p{
    color: burlywood;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    font-weight: bold;
    text-decoration: white dotted underline;
    font-size: small;
}